<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <link rel="stylesheet" href="../../css/style2.css">
    <link rel="stylesheet" href="../../css/bootstrap/3.3.6/bootstrap.min.css">
    <script src="../../js/jquery/2.0.0/jquery.min.js"></script>
    <script src="../../js/Ajax/Ajax.js"></script>
    <script>
        var myList = [
            {
                "book_id": 1001,
                "book_name": "银河帝国",
                "book_price": 58.5,
                "date": "9/23",
                "id": 1
            },
            {
                "book_id": 1002,
                "book_name": "三体",
                "book_price": 28,
                "date": "9/23",
                "id": 2
            }
        ];
        var url3 ='http://127.0.0.1:8080/book/list';
        var ajax = new Ajax;
        ajax.ajax({
            url: url3,
            contentType:'application/json',
            type:'get',
            success: function(data){
                var arr=eval(data);
                myList = arr;
                console.log(myList);

            }
        });
        window.onload = function () {
        var oTab = document.getElementById('book-table');
        var oTbody = oTab.tBodies[0];
        for(var index=0;index<myList.length;index++){
            var oTr = document.createElement('tr');
            oTbody.appendChild(oTr);

            var oTd1 = document.createElement('td');
            var oTd2 = document.createElement('td');
            var oTd3 = document.createElement('td');
            var oTd4 = document.createElement('td');
            var oTd5 = document.createElement('td');
            oTd1.innerHTML = myList[index].id;
            oTd2.innerHTML = myList[index].book_id;
            oTd3.innerHTML = myList[index].book_name;
            oTd4.innerHTML = myList[index].book_price;
            oTd5.innerHTML = myList[index].date;
            oTr.appendChild(oTd1);
            oTr.appendChild(oTd2);
            oTr.appendChild(oTd3);
            oTr.appendChild(oTd4);
            oTr.appendChild(oTd5);
        }
        };
        function addBook() {
            var book_id = document.getElementById("book_id").value;
            var book_name = document.getElementById("book_name").value;
            var book_price = document.getElementById("book_price").value;
            var date = document.getElementById("date").value;

            var book_json = {};
            book_json["book_id"] = book_id;
            book_json["book_name"] = book_name;
            book_json["book_price"] = book_price;
            book_json["date"] = date;
            var book_jsonString = JSON.stringify(book_json);
            console.log(book_jsonString);
            var ajax = new Ajax();
            url4 = 'http://127.0.0.1:8080/book/add';
            ajax.ajax({
                url: url4,
                contentType:'application/json',
                type:'post',
                data:book_jsonString,
                success: function(data){
                    var arr=eval(data);
                    console.log(arr);
                    location.reload();
                }
            });


        }

    </script>
</head>
<body>
<div class="listDIV">
    <table id="book-table" class="table table-striped table-bordered
     table-hover table-condensed" >
        <caption >图书列表</caption>
        <thead id="book-table-thead">
            <tr class="table-head">
                <th>ID</th>
                <th>书号</th>
                <th>书名</th>
                <th>价格</th>
                <th>入库日期</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
    <form method="post" id="add-book" >
        <table id="add-table" class="table">
            <tr>
                <td>书号</td>
                <td><input type="text"  id="book_id"></td>
            </tr>
            <tr>
                <td>书名</td>
                <td><input type="text" id="book_name"></td>
            </tr>
            <tr>
                <td>价格</td>
                <td><input type="text" id="book_price"></td>
            </tr>
            <tr>
                <td>入库日期</td>
                <td><input type="text" id="date"></td>
            </tr>
            <tr>
                <td><input type="button" value="提交" onclick="addBook()"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>