<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
    <style>

    </style>
</head>
<body>
<div class="listDIV">
    <table class="book-table" border="2">
        <caption >图书列表</caption>
        <thead>
            <tr class="table-head">
                <th>书号</th>
                <th>书名</th>
                <th>价格</th>
                <th>入库日期</th>
            </tr>
        </thead>
        <tobody>
            <tr>
                <th>001</th>
                <th>银河帝国</th>
                <th>58.5</th>
                <th>2018/9/18</th>
            </tr>
        </tobody>

    </table>

</div>
</body>
</html>